<!DOCTYPE html>
<html>

<head>
  <title>Postal Code API</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>

  <h1>What's your Postal Code?</h1>
  <h2>Input first 3 digits of Postal Code</h2>
  <div class="container">
    
    <form id="myForm" method="post">
      <label for="code">Postal Code:</label>
      <input type="text" id="coded" name="coded">

      <label for="submit">Route:</label>
      <input id="post" type="submit" value="post" formaction="/info">
    </form>
    <div class="response-area">
        <% if (locals.content) { %>
          <h3>The postal code you entered is <%= post %>, The country is <%= country %>, <br>
            The name of the place is <%= place %>, and the state is <%= state %>.</h3>

        <% } %>
    </div>
  </div>
</body>

</html>